<h1>Info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>This is my first Ruby on Rails application. :) </p>

  <a href="https://github.com/littleredtootle" target="_blank">My Github account!</a>
